.container {
  display: flex;
  position: fixed;
  top: 5px;
  left: 20px;
}

@media (max-width: 1250px) {
  .container {
    position: absolute;
  }
}

@media (max-width: 540px) {
  .container {
    display: none;
  }
}
